/* Hover effect on inputs */
.tainacan-modal input.input:not(.is-danger):hover,
.tainacan-modal .input:not(.is-danger):hover,
.tainacan-modal textarea.textarea:not(.is-danger):hover,
.tainacan-modal .textarea:not(.is-danger):hover,
.tainacan-modal input[type="color"].input:not(.is-danger):hover,
.tainacan-modal input[type="date"].input:not(.is-danger):hover,
.tainacan-modal input[type="datetime-local"].input:not(.is-danger):hover,
.tainacan-modal input[type="datetime"].input:not(.is-danger):hover,
.tainacan-modal input[type="email"].input:not(.is-danger):hover,
.tainacan-modal input[type="number"].input:not(.is-danger):hover,
.tainacan-modal input[type="month"].input:not(.is-danger):hover,
.tainacan-modal input[type="password"].input:not(.is-danger):hover,
.tainacan-modal input[type="search"].input:not(.is-danger):hover,
.tainacan-modal input[type="tel"].input:not(.is-danger):hover,
.tainacan-modal input[type="text"].input:not(.is-danger):hover,
.tainacan-modal input[type="time"].input:not(.is-danger):hover,
.tainacan-modal input[type="url"].input:not(.is-danger):hover,
.tainacan-modal input[type="week"].input:not(.is-danger):hover,
.tainacan-item-submission-form input.input:not(.is-danger):hover,
.tainacan-item-submission-form .input:not(.is-danger):hover,
.tainacan-item-submission-form textarea.textarea:not(.is-danger):hover,
.tainacan-item-submission-form .textarea:not(.is-danger):hover,
.tainacan-item-submission-form input[type="color"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="date"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="datetime-local"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="datetime"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="email"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="number"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="month"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="password"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="search"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="tel"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="text"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="time"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="url"].input:not(.is-danger):hover,
.tainacan-item-submission-form input[type="week"].input:not(.is-danger):hover,
.theme-items-list input.input:not(.is-danger):hover,
.theme-items-list .input:not(.is-danger):hover,
.theme-items-list textarea.textarea:not(.is-danger):hover,
.theme-items-list .textarea:not(.is-danger):hover,
.theme-items-list input[type="color"].input:not(.is-danger):hover,
.theme-items-list input[type="date"].input:not(.is-danger):hover,
.theme-items-list input[type="datetime-local"].input:not(.is-danger):hover,
.theme-items-list input[type="datetime"].input:not(.is-danger):hover,
.theme-items-list input[type="email"].input:not(.is-danger):hover,
.theme-items-list input[type="number"].input:not(.is-danger):hover,
.theme-items-list input[type="month"].input:not(.is-danger):hover,
.theme-items-list input[type="password"].input:not(.is-danger):hover,
.theme-items-list input[type="search"].input:not(.is-danger):hover,
.theme-items-list input[type="tel"].input:not(.is-danger):hover,
.theme-items-list input[type="text"].input:not(.is-danger):hover,
.theme-items-list input[type="time"].input:not(.is-danger):hover,
.theme-items-list input[type="url"].input:not(.is-danger):hover,
.theme-items-list input[type="week"].input:not(.is-danger):hover {
	border: 1px solid var(--tainacan-gray4) !important;
}

.theme-items-list .tab-item {
	outline: none !important;
}

/* WP Contact Form 7 */
.wpcf7-form {
	column-count: 2;
	column-gap: 2rem;
	margin: 0 2rem;
}
.wpcf7-form>p label {
	padding: 2px;
	display: block;
}
.wpcf7-form>p {
	break-inside: avoid;
}
.wpcf7-form>p:nth-of-type(n+3) {
	column-span: all;
}
.wpcf7-form>p:last-of-type {
	display: flex;
	flex-direction: row-reverse;
	justify-content: end;
}
.wpcf7-form .wpcf7-text,
.wpcf7-form .wpcf7-textarea {
	width: 100%;
}
.wpcf7-form .wpcf7-text:hover,
.wpcf7-form .wpcf7-textarea:hover,
.wpcf7-form .wpcf7-text:focus,
.wpcf7-form .wpcf7-textarea:focus,
.wpcf7-form .wpcf7-text:active,
.wpcf7-form .wpcf7-textarea:active {
	border-color: var(--global--color-primary, #676767);
}
.wpcf7-form input[type='submit'] {
	font-weight: normal;
}
.wpcf7-form input[type='submit']:not(:hover) {
	background-color: #676767 !important;
	color: var(--global--color-background) !important;
}
@media screen and (max-width: 1024px) {
	.wpcf7-form {
		margin: 0rem;
	}
}

/* Newsletter plugin */
.wp-block-tnp,
.wp-block-tnp-minimal  {
	margin-bottom: 2px !important;
	margin-top: 0px !important;
}
.tnp-subscription {
	margin-top: 0;
}
.tnp-subscription form {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}
.tnp-subscription form .tnp-field {
	margin-bottom: 1rem;
	margin-bottom: 1.5rem;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}
.tnp-subscription input.tnp-email,
.tnp-subscription input.tnp-name {
	margin-right: 0.5rem;
	background-color: var(--global--color-background) !important;
	width: 100% !important;
}
.tnp-subscription input::placeholder {
	color: #777777;
}
.tnp-subscription input.tnp-name:focus,
.tnp-subscription input.tnp-name:hover,
.tnp-subscription input.tnp-name:active,
.tnp-subscription input.tnp-email:focus,
.tnp-subscription input.tnp-email:hover,
.tnp-subscription input.tnp-email:active {
	border-color: var(--global--color-primary, #676767);
}
.tnp-subscription input.tnp-submit,
.tnp-subscription .tnp-button[type="submit"] {
	background-color: var(--global--color-background) !important;
	color:var(--content--color--link) !important;
	border: 1px solid #ccc !important;
	font-weight: normal !important;
}
.tnp-subscription input.tnp-submit:not(:hover),
.tnp-subscription .tnp-button[type="submit"]:not(:hover) {
	background-color: #676767 !important;
	color: var(--global--color-background) !important;
}
.tnp-subscription input.tnp-submit:hover,
.tnp-subscription .tnp-button[type="submit"]:hover {
	background-color: var(--global--color-background) !important;
	color:var(--content--color--link) !important;
	border-color: var(--global--color-primary, #676767) !important;
}
.tnp-subscription input.tnp-submit,
.tnp-subscription .tnp-button[type="submit"] {
	margin-left: auto;
} 
.tnp-subscription .tnp-field-button {
	text-align: end;
}
.home .tnp-subscription {
	font-size: 0.8125rem;
}

/* Form warning columns */
.wp-block-columns.subscription-form-warning {
	padding: 12px;
    border: 1px solid var(--tainacan-input-border-color);
}
.wp-block-columns.subscription-form-warning .wp-block-column:not(:first-child) {
	margin-left: 1em;
}
@media screen and (min-width: 652px) and (max-width: 1023px) {
	.wp-block-columns.subscription-form-warning .wp-block-column:first-child {
		flex-basis: 42px !important;
	}
	.wp-block-columns.subscription-form-warning .wp-block-column:last-child {
		flex-basis: calc(100% - 56px) !important;
	}
}

/* Team page columns */
.wp-block-columns.has-marginless-paragraphs p {
	margin-top: 0;
	margin-bottom: 0;
}

/* Image inside the h1 title block */
.entry-content h1>a {
	position: relative;
}
.entry-content h1>a:hover>img {
	filter: brightness(0.2);
}
.entry-content h1>a:hover>img::after {
	content: '';
	display: block;
	height: 4px;
	width: 100%;
	background: var(--global--color-secondary, #2a2a2a);
	position: absolute;
	bottom: -15px;
}
