/* Tainacan item submission block */
.wp-block-tainacan-item-submission-form {
	--tainacan-one-column: 0px;
}
.wp-block-tainacan-item-submission-form .tainacan-checkbox-search-section .button {
    background-color: transparent !important;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-secondary,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-secondary:hover,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-secondary:focus,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined:hover,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined:focus,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-success,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-success:hover,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-success:focus {
    border-radius: 0px !important;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined:hover,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined:focus {
    color: var(--tainacan-input-color) !important;
}

.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .section-label:empty {
    display: none !important;
}

.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .control-label {
    font-size: 0.875em;
}

/* Checkobxes have special style */
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .search-control .b-checkbox.checkbox {
	display: flex;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form input[type="checkbox"]:checked + span + .control-label,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form input[type="checkbox"]:checked + span + .control-label .checkbox-label-text {
	--tainacan-input-color: var(--tainacan-secondary);
	color: var(--tainacan-secondary);
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .field .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"]:checked + .check {
	background-image: url('../images/icons/ICONES_checkbox.svg') !important;
	background-color: transparent !important;
	background-repeat: no-repeat !important;
	background-size: 16px 16px !important;
	width: 16px;
	height: 16px;
	border: none;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .field .b-checkbox.checkbox input[type="checkbox"] + .check,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"] + .check {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	margin-top: -1px;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .field .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .checkbox-label-text {
	line-height: 1.875em !important;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check::after,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check::before {
	display: none;
}

.wp-block-tainacan-item-submission-form .help-tooltip {
    border: 1px solid var(--content--color--link, #676767);
    background: var(--global--color-background);
    border-radius: 0;
    color: var(--content--color--link, #676767);
    font-size: 0.8125rem;
}

.wp-block-tainacan-item-submission-form .help-tooltip::before {
    display: none;
}

/* WP Contact Form 7 */
.wpcf7-form {
	column-count: 2;
	column-gap: 2rem;
	margin: 0 2rem;
}
.wpcf7-form>p label {
	padding: 2px;
}
.wpcf7-form>p {
	break-inside: avoid;
}
.wpcf7-form>p:nth-of-type(n+3) {
	column-span: all;
}
.wpcf7-form>p:last-of-type {
	display: flex;
	flex-direction: row-reverse;
	justify-content: end;
}
.wpcf7-form .wpcf7-text,
.wpcf7-form .wpcf7-textarea {
	width: 100%;
}
.wpcf7-form .wpcf7-text:hover,
.wpcf7-form .wpcf7-textarea:hover,
.wpcf7-form .wpcf7-text:focus,
.wpcf7-form .wpcf7-textarea:focus,
.wpcf7-form .wpcf7-text:active,
.wpcf7-form .wpcf7-textarea:active {
	border-color: var(--global--color-primary, #676767);
}
.wpcf7-form input[type='submit'] {
	font-weight: normal;
}
.wpcf7-form input[type='submit']:not(:hover) {
	background-color: #676767 !important;
	color: var(--global--color-background) !important;
}

/* Newsletter plugin */
.wp-block-tnp,
.wp-block-tnp-minimal  {
	margin-bottom: 2px !important;
	margin-top: 0px !important;
}
.tnp-subscription form,
.tnp-subscription-minimal form {
	display: flex;
	flex-wrap: nowrap;
}
.tnp-subscription form {
	flex-direction: column;
}
.tnp-subscription form .tnp-field {
	margin-bottom: 1rem;
	margin-bottom: 1.5rem;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}
.tnp-subscription input.tnp-email,
.tnp-subscription input.tnp-field-firstname,
.tnp-subscription-minimal input.tnp-email {
	margin-right: 0.5rem;
	background-color: var(--global--color-background) !important;
	width: 100% !important;
}
.tnp-subscription input.tnp-field-firstname:focus,
.tnp-subscription input.tnp-field-firstname:hover,
.tnp-subscription input.tnp-field-firstname:active,
.tnp-subscription input.tnp-email:focus,
.tnp-subscription input.tnp-email:hover,
.tnp-subscription input.tnp-email:active,
.tnp-subscription-minimal input.tnp-email:focus,
.tnp-subscription-minimal input.tnp-email:hover,
.tnp-subscription-minimal input.tnp-email:active {
	border-color: var(--global--color-primary, #676767);
}
.tnp-subscription input.tnp-submit {
	background-color: var(--global--color-background) !important;
	color:var(--content--color--link) !important;
	border: 1px solid #ccc !important;
	font-weight: normal;
}
.tnp-subscription input.tnp-submit:not(:hover) {
	background-color: #676767 !important;
	color: var(--global--color-background) !important;
}
.tnp-subscription-minimal input.tnp-submit {
	background-color: var(--global--color-background) !important;
	color:var(--content--color--link) !important;
	border: 1px solid #ccc !important;
	text-transform: uppercase;
	background-image: url('../images/icons/enviar_email.svg') !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0.55rem;
	font-size: 0 !important;
	width: 2rem !important;
}
.tnp-subscription input.tnp-submit:hover, 
.tnp-subscription-minimal input.tnp-submit:hover {
	background-color: var(--global--color-background) !important;
	color:var(--content--color--link) !important;
	border-color: var(--global--color-primary, #676767) !important;
}
.tnp-subscription input.tnp-submit {
	margin-left: auto;
} 


/* Form warning columns */
.wp-block-columns.subscription-form-warning {
	padding: 12px;
    border: 1px solid #ccc;
}
.wp-block-columns.subscription-form-warning .wp-block-column:not(:first-child) {
	margin-left: 1em;
}

/* Image inside the h1 title block */
.entry-content h1>img {
	display: block;
}