/* Tainacan item submission block */
.wp-block-tainacan-item-submission-form .tainacan-checkbox-search-section .button {
    background-color: transparent !important;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-secondary,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-secondary:hover,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-secondary:focus,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined:hover,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined:focus,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-success,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-success:hover,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-success:focus {
    border-radius: 0px !important;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined:hover,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .button.is-outlined:focus {
    color: var(--tainacan-input-color) !important;
}

.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .section-label:empty {
    display: none !important;
}

.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .control-label {
    font-size: 0.875em;
}

/* Checkobxes have special style */
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .search-control .b-checkbox.checkbox {
	display: flex;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form input[type="checkbox"]:checked + span + .control-label,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form input[type="checkbox"]:checked + span + .control-label .checkbox-label-text {
	--tainacan-input-color: var(--tainacan-secondary);
	color: var(--tainacan-secondary);
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .field .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"]:checked + .check {
	background-image: url('../images/icons/ICONES_checkbox.svg') !important;
	background-color: transparent !important;
	background-repeat: no-repeat !important;
	background-size: 16px 16px !important;
	width: 16px;
	height: 16px;
	border: none;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .field .b-checkbox.checkbox input[type="checkbox"] + .check,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"] + .check {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	margin-top: -1px;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .field .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .checkbox-label-text {
	line-height: 1.875em !important;
}
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check::after,
.wp-block-tainacan-item-submission-form .tainacan-item-submission-form .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check::before {
	display: none;
}

.wp-block-tainacan-item-submission-form .help-tooltip {
    border: 1px solid var(--content--color--link, #676767);
    background: white;
    border-radius: 0;
    color: var(--content--color--link, #676767);
    font-size: 0.8125rem;
}

.wp-block-tainacan-item-submission-form .help-tooltip::before {
    display: none;
}