/* General post title */
.singular .entry-header {
    padding-bottom: calc(0.5 * var(--global--spacing-vertical));
}
.singular .entry-header::after {
    border-bottom: none !important;
}
.singular article .entry-header {
    margin-top: 0px;
}
.singular .entry-header h1 {
    font-weight: bold;
    text-transform: uppercase;
}

/* Tablet and larger desktops have aside layout */
@media only screen and (min-width: 1024px) {

    /* General container */
    .singular:not(.home):not(.page-template-custom-title) main>article.entry,
    .singular:not(.home):not(.page-template-custom-title) main>.comments-area {
        max-width: var(--responsive--alignwide-width);
        margin-left: auto;
        margin-right: auto;
    }
    .singular:not(.home):not(.page-template-custom-title) main>.comments-area>* {
        max-width: var(--responsive--aligndefault-width);
        padding-left: 216px;
    }

    /* General post title */
    .singular:not(.home):not(.page-template-custom-title) .entry-header {
        max-width: 216px;
        padding-right: 30px;
        float: left;
        position: absolute;
    }
    .singular.page-template-custom-title .entry-content,
    .singular.home .entry-content {
        margin-top: var(--global--spacing-vertical) !important;
    }


    /* Default sized Blocks */
    .singular:not(.home):not(.page-template-custom-title) .post-thumbnail,
    .singular:not(.home):not(.page-template-custom-title) .entry-content .wp-audio-shortcode,
    .singular:not(.home):not(.page-template-custom-title) .entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
    .singular:not(.home):not(.page-template-custom-title) .default-max-width {
        margin-left: 216px;
    }
    /* Wide aligned Blocks */
    .singular:not(.home):not(.page-template-custom-title) .alignwide:not(.entry-header):not(.tainacan-item-single-content),
    .singular:not(.home):not(.page-template-custom-title) .wide-max-width {
        margin-left: 216px;
    }
}


/* Home columns padding */
.singular.home .entry-content .wp-block-columns.home-columns {
    gap: 8em !important;
}
.singular.home .entry-content .wp-block-columns.home-columns>.wp-block-column:first-child .wp-block-group {
    gap: 0px !important;
}
@media screen and (max-width: 1279px) {
    .singular.home .entry-content .wp-block-columns.home-columns {
        gap: 4em !important;
    }
}
@media screen and (max-width: 1279px) {

    /* Special columns size for the home page */
    .singular.home .entry-content .wp-block-columns.home-columns>.wp-block-column:first-child {
        flex-basis: min(494px, 100%) !important;
    }
    .singular.home .entry-content .wp-block-columns.home-columns>.wp-block-column:not(:first-child) {
        flex-basis: 100% !important;
        margin-left: 0em;
        margin-right: 2em;
    }
    .singular.home .entry-content .wp-block-columns.home-columns>.wp-block-column:first-child>.wp-block-columns:last-of-type>.wp-block-column {
        flex-basis: calc(50% - 1rem) !important;
    }
    .singular.home .entry-content .wp-block-columns.home-columns>.wp-block-column.editorskit-no-tablet.editorskit-no-mobile {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .singular.home .entry-content .wp-block-columns.home-columns>.wp-block-column:first-child>.wp-block-columns:last-of-type>.wp-block-column {
        flex-basis: calc(50% - 0.5rem) !important;
    }
    .singular.home .entry-content .wp-block-columns.home-columns>.wp-block-column:not(:first-child) {
        margin-left: 0em;
        margin-right: 0em;
    }
}