/* General post title */
.singular .entry-header {
    padding-bottom: calc(0.5 * var(--global--spacing-vertical));
}
.singular .entry-header::after {
    border-bottom: none !important;
}
.singular .entry-header h1 {
    font-weight: bold;
    text-transform: uppercase;
}

/* Tablet and larger desktops have aside layout */
@media only screen and (min-width: 1024px) {

    /* General container */
    .singular main>article.entry,
    .singular main>.comments-area {
        max-width: var(--responsive--alignwide-width);
        margin-left: auto;
        margin-right: auto;
    }
    .singular main>.comments-area>* {
        max-width: var(--responsive--aligndefault-width);
        padding-left: 216px;
    }

    /* General post title */
    .singular .entry-header {
        max-width: 216px;
        padding-right: 30px;
        float: left;
        position: absolute;
    }

    /* Default sized Blocks */
    .singular .post-thumbnail,
    .singular .entry-content .wp-audio-shortcode,
    .singular .entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
    .singular .entry-content [class*="inner-container"] > :not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
    .singular .default-max-width {
        margin-left: 216px;
    }
    /* Wide aligned Blocks */
    .singular .alignwide:not(.entry-header):not(.tainacan-item-single-content),
    .singular .wide-max-width {
        margin-left: 216px;
    }
}