
/* Adds border at top of it */
.widget-area > .widget {
    padding-top: 20px;
    border-top: 1px solid var(--global--color-border, #cccccc);
}


/* Aligns latest elements to the right */
.widget-area > .widget > .wp-block-columns > .wp-block-column:last-of-type > .wp-block-columns {
    justify-content: flex-end;
}

/* Other tweaks to  footer */
.no-widgets .site-footer,
.widget-area {
    margin-top: var(--global--spacing-vertical) !important;
}
.widget-area a:hover {
    text-decoration-style: solid;
}

@media screen and (min-width: 652px) {
    aside.widget-area {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 651px) {
    aside.widget-area {
        text-align: center;
    }
    aside.widget-area .wp-block-social-links {
        justify-content: center;
    }
    aside.widget-area .wp-block-image {
        margin-top: -42px !important;
    }
}