/* Smaller header padding */
.site-header {
	padding-bottom: 0px;
}

/* Puts site title and tagline aside each other */
.site-branding {
	display: flex;
}

/* Tagline, aka Site description */
.site-description {
	font-size: 13px;
	font-stretch: normal;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 18px;
	float: left;
	color: black;
	margin-left: 10px;
}

/* Menu border */
.primary-menu-container {
	border-bottom: 1px solid var(--global--color-border, #cccccc);
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}
.primary-navigation > div > .menu-wrapper > li > .sub-menu {
	border-color: var(--global--color-border, #cccccc);
}
.primary-navigation > div > .menu-wrapper > li > .sub-menu::after,
.primary-navigation > div > .menu-wrapper > li > .sub-menu::before {
	display: none;
}
.primary-navigation a:hover {
	font-style: normal;
	font-weight: normal;
	text-decoration-style: solid;
}
.pagination .nav-links > :not(.dots):not(.current):hover,
.comments-pagination .nav-links > :not(.dots):not(.current):hover {
	text-decoration-style: solid;
}
.primary-navigation .current-menu-item > a:first-child:hover,
.primary-navigation .current_page_item > a:first-child:hover {
	text-decoration-style: solid;
}
.pagination .nav-links > :not(.dots):not(.current):hover,
.comments-pagination .nav-links > :not(.dots):not(.current):hover {
	text-decoration-thickness: 2px;
}
.primary-navigation svg {
	max-width: 0.56rem;
}
.primary-navigation > div > .menu-wrapper .sub-menu-toggle {
	width: 1rem;
}

select#gtranslate_selector {
	color: var(--header--color-text);
	text-transform: lowercase;
	border: none !important;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-user-select: none;
	-moz-appearance: none;
	-moz-user-select: none;
	user-select: none;
	background-image: url('../images/icons/ICONES_Dropdown Menus.svg');
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 9px;
	padding-right: 1rem;
	text-align: end;
}
.menu-item-gtranslate:hover select#gtranslate_selector {
	color: var(--header--color-link-hover,var(--header--color-text));
}

.menu-button-container #primary-mobile-menu .dropdown-icon.open .svg-icon {
	max-width: 1rem;
	top: 0;
}

/* Tainacan search bar inside the nav menu */
.site-header .menu-item--search {
	padding: calc(0.33 * var(--global--spacing-unit)) 0;
}
.site-header .wp-block-tainacan-search-bar {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}
.wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block input::placeholder {
	opacity: 0.5;
}
.wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block button .icon svg {
	max-width: 2rem;
	fill: transparent !important;
}
.wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

@media screen and (max-width: 481px) {
	.primary-menu-container select#gtranslate_selector {
		font-size: 1.125rem;
		padding-left: 0;
	}
	.primary-navigation > div > .menu-wrapper {
		padding-top: 72px;
	}
	.site-header .menu-item--search {
		order: -1;
	}
	.mobile-subheader {
		display: flex;
		justify-content: space-between;
		gap: 1em;
		visibility: visible;
		max-width: var(--responsive--alignwide-width);
		margin-left: auto;
		margin-right: auto;
	}
	.mobile-subheader select#gtranslate_selector {
		height: 3em;
		margin: auto;
	}
}

@media screen and (min-width: 482px) {
	.mobile-subheader {
		display: none;
		visibility: hidden;
	}
	.primary-navigation > div > .menu-wrapper {
		width: 100%;
		justify-content: space-between;
	}
	.primary-navigation > div > .menu-wrapper .menu-item {
		width: auto;
	}
	.primary-navigation > div > .menu-wrapper .menu-item-gtranslate {
		margin-left: auto;
		margin-right: calc(8em + 15% - 206px + var(--primary-nav--padding));
	}	
	.site-header .menu-item--search {
		margin-left: auto;
		margin-right: 0;
		padding-left: var(--primary-nav--padding);
	}
	.site-header .wp-block-tainacan-search-bar .tainacan-search-container {
		max-width: 193px;
	}
}
