/* Smaller header padding */
.site-header {
	padding-bottom: var(--header--padding);
}

/* Puts site title and tagline aside each other */
.site-branding {
	display: flex;
}

/* Tagline, aka Site description */
.site-description {
	font-size: 13px;
	font-stretch: normal;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 18px;
	float: left;
	color: black;
	margin-left: 10px;
}

/* Menu border */
.primary-menu-container {
	border-bottom: 1px solid var(--global--color-border, #cccccc);
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}
.primary-navigation > div > .menu-wrapper > li > .sub-menu {
	border-color: var(--global--color-border, #cccccc);
}
.primary-navigation > div > .menu-wrapper > li > .sub-menu::after,
.primary-navigation > div > .menu-wrapper > li > .sub-menu::before {
	display: none;
}
.primary-navigation a:hover {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.pagination .nav-links > :not(.dots):not(.current):hover,
.comments-pagination .nav-links > :not(.dots):not(.current):hover {
	text-decoration-style: solid;
}
.pagination .nav-links > :not(.dots):not(.current):hover,
.comments-pagination .nav-links > :not(.dots):not(.current):hover {
	text-decoration-thickness: 2px;
}
.primary-navigation svg {
	max-width: 0.56rem;
}
.primary-navigation > div > .menu-wrapper .sub-menu-toggle {
	width: 1rem;
}