/* Tainacan's Phostoswipe gallery with several tweaks...*/

/* Light color scheme */
.tainacan-photoswipe-layer .pswp__button {
    background-color: transparent !important;
}

.tainacan-photoswipe-layer .pswp__caption-inner {
    border-radius: 0px !important;
    border: 1px solid var(--global--color-border,#ccc);
}

/* Modal instead of fullscreen */
.tainacan-photoswipe-layer:not(.pswp--fs) .pswp__scroll-wrap {
    background: var(--global--color-background, #ffffff);
    /* position: absolute;
    max-width: 1300px;
    max-height: 90vh;
    left: calc((100% - 1300px) / 2);
    right: calc((100% - 1300px) / 2);
    top: 5vh;
    bottom: 5vh;
    border: 2px solid var(--separator--border-color); */
}

.tainacan-photoswipe-layer .pswp__scroll-wrap .pswp__name,
.tainacan-photoswipe-layer .pswp__scroll-wrap .pswp__description,
.tainacan-photoswipe-layer .pswp__caption__center br {
    display: none;
    visibility: hidden;
    font-size: 0;
}
.tainacan-photoswipe-layer .pswp__caption__center {
    text-align: start !important;
    padding: 24px 36px;
    max-width: 1300px !important;
}
.tainacan-photoswipe-layer .pswp__share-tooltip {
    border-radius: 0;
}
.tainacan-photoswipe-layer .pswp__share-tooltip>a:hover {
    background: initial;
    color: initial;
}
.tainacan-photoswipe-layer .pswp__share-tooltip>a:hover::before {
    border-bottom-color: var(--global--color-background);
}
.tainacan-photoswipe-layer .pswp__container audio {
    border-radius: 0;
    width: 95%;
}

@media screen and (max-width: 1365px) {
    /* .tainacan-photoswipe-layer:not(.pswp--fs) .pswp__scroll-wrap {
        max-width: 90%;
        left: 5%;
        right: 5%;
    } */
    .tainacan-photoswipe-layer .pswp__caption__center {
        max-width: 100%;
    }
}