.tainacan-item-single-content {
    display: grid;
    grid-template-areas: 'info1 gallery info2 navigation';
    grid-template-rows: auto;
    grid-template-columns: 33% 1fr 1fr 133px;
    column-gap: 64px;
    row-gap: 24px;
    padding-top: 1rem;
}
.tainacan-item-single-content.has-attachments {
    grid-template-areas: 'info1 gallery gallery navigation'
                         'info1 info2 info2 navigation';
    grid-template-rows: repeat(auto-fit, 440px);
    align-items: flex-start;
}
.tainacan-item-single-content.is-participants-collection {
    grid-template-areas: 'gallery info1 navigation' 'info2 info2 navigation';
    grid-template-rows: min-content auto;
    grid-template-columns: 205px 1fr 133px;
}

/* Default information sections */
.tainacan-item-single-content--information {
    grid-area: info1;
    max-width: 100%;
    column-count: 1;
    column-gap: 64px;
}
.tainacan-item-single-content--information>*{
    break-inside: avoid;
    max-width: 100%;
}
.tainacan-item-single-content:not(.is-works-collection):not(.is-participants-collection) .tainacan-item-single-content--information>*:nth-of-type(1n+6) {
    display: none;
    visibility: hidden;
}
.tainacan-item-single-content--information-2 {
    grid-area: info2;
    max-width: 100%;
}
.tainacan-item-single-content--information-2>*{
    break-inside: avoid;
    max-width: 100%;
}
.tainacan-item-single-content:not(.is-works-collection):not(.is-participants-collection) .tainacan-item-single-content--information-2>*:nth-of-type(-1n+5) {
    display: none;
    visibility: hidden;
}

/* Participants Information Section */
.tainacan-item-single-content.is-participants-collection>.tainacan-item-thumbnail {
    grid-area: gallery;
}
.tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information .tainacan-item-thumbnail {
    display: none;
    visibility: hidden;
}
.tainacan-item-single-content.is-participants-collection .tainacan-item-thumbnail img {
    max-width: 205px !important;
    height: auto !important;
}
.tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information {
    column-width: 240px;
    column-gap: 32px;
    column-count: auto;
}
.tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information-2 {
    column-count: 1 !important;
    max-width: 860px;
}
.tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information>*.metadata-type-core_description,
.tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information>*.metadata-type-textarea {
    display: none;
    visibility: hidden;
}
.tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information-2>*:not(.metadata-type-core_description):not(.metadata-type-textarea) {
    display: none;
    visibility: hidden;
}

/* Works Information Section */
.tainacan-item-single-content.is-works-collection .tainacan-item-single-content--information {
    column-count: 2;
    column-gap: 32px;
}
.tainacan-item-single-content.is-works-collection .tainacan-item-single-content--information>*:nth-of-type(1n+7) {
    display: none;
    visibility: hidden;
}
.tainacan-item-single-content.is-works-collection .tainacan-item-single-content--information-2>*:nth-of-type(-1n+6) {
    display: none;
    visibility: hidden;
}

/* In every templated, the first section textareas span */
.tainacan-item-single-content.is-works-collection .metadata-type-core_title,
.tainacan-item-single-content--information .metadata-type-core_description,
.tainacan-item-single-content--information .metadata-type-textarea {
    column-span: all;
}


/* If there are attachments, the second section has columns */
.tainacan-item-single-content.has-attachments .tainacan-item-single-content--information-2 {
    column-count: 3;
    column-gap: 64px;
}

/* Gallery Section */
.tainacan-item-single-content--gallery {
    grid-area: gallery;
    max-width: 100%;
    min-height: 440px;
    align-self: normal;
}

/* Tweaks to the media component */
.tainacan-item-single-content.has-attachments .tainacan-item-single-content--gallery .tainacan-media-component {
    --tainacan-media-main-carousel-height: 364px;
    --swiper-theme-color: var(--global--color-primary, #676767);
}
.tainacan-item-single-content .swiper-slide-metadata {
    text-align: start !important;
    padding: 12px 0;
}
.tainacan-item-single-content .swiper-slide-metadata br {
    display: none;
    visibility: hidden;
}
.tainacan-item-single-content.has-attachments .swiper-slide-metadata {
    max-width: 228px;
}
.tainacan-item-single-content:not(.has-attachments) .swiper-slide-metadata {
    max-width: 100%;
}
.tainacan-item-single-content .swiper-slide-metadata .swiper-slide-metadata__caption {
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.tainacan-media-component,
.tainacan-media-component .tainacan-media-component__swiper-main {
    height: 100% !important; /* This messes with the arrow alignment, but avoids caption hidden by overflow */
}
.tainacan-media-component__swiper-main .swiper-container {
    list-style-type: none !important;
}
.tainacan-media-component__swiper-main .swiper-button-disabled,
.tainacan-media-component__swiper-thumbs .swiper-button-disabled {
    display: none;
}
.tainacan-media-component__swiper-main .swiper-button-next,
.tainacan-media-component__swiper-main .swiper-container-rtl .swiper-button-prev {
    left: auto;
    background: var(--global--color-background);
    height: 100%;
    margin: 0;
    top: 0;
    right: 0;
}
.tainacan-media-component__swiper-main .swiper-button-prev,
.tainacan-media-component__swiper-main .swiper-container-rtl .swiper-button-next {
    right: auto;
    background: var(--global--color-background);
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}
.tainacan-item-single-content .tainacan-item-single-content--gallery .tainacan-media-component__swiper-main .swiper-slide-content a:first-of-type,
.tainacan-item-single-content .tainacan-item-single-content--gallery .tainacan-media-component__swiper-main .swiper-slide-content p:first-of-type {
    padding: 0;
    height: var(--tainacan-media-main-carousel-height, 364px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    border-radius: 0px;
}
.tainacan-item-single-content .tainacan-item-single-content--gallery .tainacan-media-component__swiper-main .swiper-slide-content {
    max-width: 261px;
    text-align: start;
}
.tainacan-item-single-content .tainacan-media-component__swiper-main li.swiper-slide {
    width: auto;
    padding: 0;
}
.tainacan-item-single-content .tainacan-media-component__swiper-main li.swiper-slide:only-child {
    margin-right: 0 !important;
    width: 100%;
}
.tainacan-item-single-content .tainacan-media-component__swiper-main li.swiper-slide:only-child .swiper-slide-content {
    max-width: unset;
}
.tainacan-item-single-content .tainacan-media-component__swiper-main li.swiper-slide:only-child .swiper-slide-content img,
.tainacan-item-single-content .tainacan-media-component__swiper-main li.swiper-slide:only-child .swiper-slide-content video,
.tainacan-item-single-content .tainacan-media-component__swiper-main li.swiper-slide:only-child .swiper-slide-content audio,
.tainacan-item-single-content .tainacan-media-component__swiper-main li.swiper-slide:only-child .swiper-slide-content iframe {
    max-height: unset;
}
.tainacan-item-single-content .tainacan-media-component__swiper-main li.swiper-slide:not(.swiper-slide-active) {
    opacity: 1.0;
}
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content img,
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content video,
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content audio,
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content iframe {
    width: auto !important;
    min-height: var(--tainacan-media-main-carousel-height, 364px);
    height: var(--tainacan-media-main-carousel-height, 364px);
    object-fit: cover;
    object-position: center;
    min-width: 228px;
    max-width: 261px !important;
    border-radius: 0;
    background: #cccccc;
}
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content img:focus,
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content video:focus,
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content audio:focus,
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content iframe:focus {
    outline: none !important;
}
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content .tainacan-content-embed {
    min-height: var(--tainacan-media-main-carousel-height, 364px);
    height: var(--tainacan-media-main-carousel-height, 364px);
    object-fit: cover;
    min-width: 261px;
    max-width: 261px !important;
    border-radius: 0;
    background: #cccccc;
}
.tainacan-item-thumbnail img {
    margin-bottom: 2rem;
}

/* Tweaks to the item metadata */
.tainacan-item-single-content .tainacan-metadatum-label {
	font-weight: normal;
	font-size: 0.8125rem;
    line-height: 1rem;
    color: var(--header--color-text,#8a8a8a);
    margin-bottom: 0.6875rem;
    text-transform: none;
}
.tainacan-item-single-content .tainacan-metadatum-value {
	font-weight: normal;
	font-size: 0.875rem;
    line-height: 1.875rem;
    color: var(--global--color-primary, #676767);
    margin-bottom: 1.5rem;
    display: inline-block;
}
.tainacan-item-single-content .metadata-type-core_title .tainacan-metadatum-value {
    font-weight: bold;
    font-size: 1.125rem;
    text-transform: uppercase;
    color: var(--header--color-text,#8a8a8a);
}

.metadata-value p:empty,
p.tainacan-metadatum-value:empty {
    display: none;
    visibility: hidden;
}

/* Metadata type textarea has different separator */
.multivalue-separator {
    display: block;
    height: 0;
    margin: 0;
    color: transparent;
}
.hierarchy-separator {
    color: #cbcbcb;
}
.metadata-type-compound .multivalue-separator,
.metadata-type-textarea .multivalue-separator {
    display: block;
    max-height: 1px;
    width: 70px;
    background: #cbcbcb;
    content: none;
    color: transparent;
    margin: 0.875rem auto;
}
/* .tainacan-compound-group { */
    /* padding-left: 1.5rem; */
    /* border-left: 1px solid #dbdbdb; */
/* } */
.tainacan-compound-group .label {
    padding: 0;
    font-style: normal;
    font-weight: normal;
    color: var(--header--color-text,#8a8a8a);
    margin-bottom: .6875rem;
}
.tainacan-compound-group p {
    margin-top: 0rem;
    margin-bottom: 1.37rem;
    font-size: 0.875rem;
}

.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-relationship-metadatum-header {
	display: flex;
	align-items: center;
    margin-bottom: 1.25rem;
}
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-relationship-metadatum-header img {
	margin-right: 12px;
	max-width: 28px !important;
	max-height: 28px;
}
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-relationship-metadatum-header .label {
	font-weight: normal;
	font-style: normal;
    font-size: 0.875rem;
    line-height: 1.75rem;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	padding: 0;
}
/* .tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-metadatum {
	margin-left: 40px;
} */
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-metadatum .label {
	font-size: 0.8125em !important;
    font-weight: normal;
    color: var(--header--color-text,#8a8a8a);
	line-height: 1em;
	margin-top: 0px;
	margin-bottom: 6px;
}
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-metadatum p {
	margin-top: 0.25rem;
	margin-bottom: 1.37rem;
    font-size: 0.875rem;
}
.tainacan-relationship-group>.multivalue-separator {
    display: block;
    max-height: 1px;
    width: calc(100% - 40px);
    background: var(--tainacan-gray2);
    content: none;
    color: transparent;
    margin: 0.5em 0 0.5em 40px;
}


/* Navigation Section */
.tainacan-item-single-content--navigation {
    grid-area: navigation;
    max-width: 100%;
    width: 133px;
    justify-self: flex-end;
    align-self: stretch;
    height: 100%;
}

/* Navigation links */
.tainacan-single-navigation-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.75rem;
    height: 100%;
}
.tainacan-single-navigation-links .tainacan-metadatum-label {
    text-align: right;
    text-align: end;
    margin-bottom: 1rem;
}
.tainacan-single-navigation-links .items-in-common {
    margin-bottom: auto;
}
.tainacan-single-navigation-links .items-in-common  .item-in-common {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1.75rem;
    width: 100%;
    line-height: 1.25rem;
}
.tainacan-single-navigation-links .items-in-common  .item-in-common img {
    margin-bottom: 0.5rem;
}
.tainacan-single-navigation-links a {
    display: flex;
    justify-content: space-between;
    text-align: end;
    margin: 4px 2px;
}
.tainacan-single-navigation-links svg {
    width: 0.875rem;
    min-width: 0.875rem;
    margin-right: 5px;
    height: auto;
    color: inherit;
}
.tainacan-single-navigation-links .related-pages {
    margin-top: auto;
}
.tainacan-single-navigation-links--list svg {
    width: 1.5rem;
}
.tainacan-single-navigation-links svg:hover {
    fill: var(--global--color-primary, #2a2a2a);
}

/* Medium desktop screen */
@media screen and (max-width: 1400px) {
    .tainacan-item-single-content.has-attachments .tainacan-item-single-content--information-2 {
        column-count: 2;
    }
}
/* Smaller Medium desktop screen */
@media screen and (max-width: 1340px) {
    .tainacan-item-single-content.is-works-collection,
    .tainacan-item-single-content.has-attachments.is-works-collection {
        display: grid;
        grid-template-areas: 'info1 gallery'
                             'info1 info2 '
                             'navigation navigation';
        grid-template-columns: 40% calc(60% - 64px);
    }
    .tainacan-item-single-content.is-works-collection .tainacan-item-single-content--information {
        column-count: 1;
    }
}


/* Smaller desktop screen */
@media screen and (max-width: 1280px) {
    .tainacan-item-single-content,
    .tainacan-item-single-content.has-attachments {
        display: grid;
        grid-template-areas: 'info1 gallery'
                             'info1 info2 '
                             'navigation navigation';
        grid-template-columns: 40% calc(60% - 64px);
        grid-template-rows: 440px auto auto;
    }
    .tainacan-item-single-content.is-participants-collection {
        grid-template-areas: 'gallery info1'
                             'info2 info2'
                             'navigation navigation';
        grid-template-columns: 205px 1fr;
        grid-template-rows: auto auto auto;
    }
    .tainacan-single-navigation-links .items-in-common  .item-in-common {
        display: none;
        visibility: hidden;
    }
}

/* Mobile */
@media screen and (max-width: 800px) {
    .tainacan-item-single-content,
    .tainacan-item-single-content.has-attachments {
        display: grid;
        grid-template-areas: 'info1'
                             'gallery'
                             'info2'
                             'navigation' !important;
        grid-template-rows: auto auto auto auto !important;
        grid-template-columns: 100% !important;
    }
    .tainacan-item-single-content.is-participants-collection {
        grid-template-areas: 'info1'
                             'info2'
                             'navigation' !important;
        grid-template-rows: auto auto auto !important;
        grid-template-columns: 100% !important;
    }
    .tainacan-item-single-content.is-participants-collection>.tainacan-item-thumbnail {
        display: none !important;
        visibility: hidden !important;
    }
    .tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information .tainacan-item-thumbnail {
        display: block !important;
        visibility: visible !important;
    }
    .tainacan-item-single-content.has-attachments .tainacan-item-single-content--information-2,
    .tainacan-item-single-content.is-works-collection .tainacan-item-single-content--information {
        column-count: 1 !important;
    }
}