/* Collection or term heading */
.tainacan-items-list-heading {
	max-width: none;
	padding-left: var(--responsive--alignfull-padding);
	padding-right: var(--responsive--alignfull-padding);
	display: flex;
	gap: 24px;
	max-width: 960px;
	margin-bottom: 12px;
}
.tainacan-items-list-heading h1 {
	font-weight: bold;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: var(--header--color-link-hover);
	margin-right: 3rem;
	margin-bottom: 0.75rem;
}

@media screen and (max-width: 822px) {
	.tainacan-items-list-heading {
		flex-wrap: wrap;
		max-width: 100%;
	}
}

.tainacan-collections-links {
	text-transform: uppercase;
	font-size: 0.8125rem;
	padding: 0.45rem 1rem 1.5rem 0rem;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.tainacan-collections-links li {
	padding-right: 0.75rem;
	margin-right: 0.75rem;
}
.tainacan-collections-links a:not(:hover) {
	text-decoration: none;
}
.tainacan-collections-links li:not(:last-of-type) {
	border-right: 1px solid var(--content--color--link);
}

.tainacan-modal,
.theme-items-list {
	--tainacan-input-color: var(--header--color-text, #777777);
	--tainacan-input-background-color: var(--global--color-background, #ffffff);
	--tainacan-input-border-color: var(--global--color-border, #cccccc);
	--tainacan-label-color: var(--header--color-text, #777777);
	--tainacan-info-color: var(--header--color-text, #777777);
	--tainacan-heading-color: var(--header--color-text, #777777);
	--tainacan-skeleton-color: #eeeeee;
	--tainacan-item-background-color: var(--tainacan-background-color);
	--tainacan-item-hover-background-color: var(--tainacan-gray1);
	--tainacan-item-heading-hover-background-color: var(--global--color-background, #ffffff);
	--tainacan-primary: var(--global--color-border, #cccccc);
	--tainacan-turquoise1: var(--global--color-border, #cccccc);
	--tainacan-secondary: var(--global--color-primary, #676767);
	--tainacan-success: var(--content--color--link, #000000);
	--tainacan-danger: var(--tainacan-red2);
	--tainacan-yellow2: var(--header--color-text, #777777);
	--tainacan-warning: var(--tainacan-yellow2);
	--tainacan-blue5: var(--global--color-primary, #676767);
	--tainacan-background-color: var(--global--color-background, #ffffff);
	--tainacan-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--tainacan-base-font-size: 1rem;
	--tainacan-filter-menu-width-theme: 364px;
	--tainacan-one-column: var(--site--padding);
	--tainacan-container-padding: 25px;
}

@media only screen and (min-width: 768px) {
	.tainacan-modal,
	.theme-items-list {
		--tainacan-filter-menu-width-theme: 280px;
	}
	/* Adding border to filters list */
	.theme-items-list #filters-items-list {
		border: 1px solid var(--global--color-border, #cccccc);
		padding: 24px;
	}
}
@media only screen and (max-width: 1024px) {
	#tainacanFiltersButton,
	#tainacanFiltersButton .is-hidden-touch {
		display: inline-block !important;
		visibility: visible !important;
	}	
}

/* Customize tooltips */
.tooltip {
	--tainacan-primary: var(--tainacan-background-color);
}
.tooltip .tooltip-inner {
	border: 1px solid var(--global--color-border, #cccccc);
	border-radius: 0 !important;
}
.tooltip .tooltip-arrow,
.tooltip .tooltip-arrow::before,
.tooltip .tooltip-arrow::after {
	display: none;
}

/* Margin top should be smaller */
.theme-items-list {
	margin-top: -1rem;
}

/* Filters collapse label is ligther */
.tainacan-modal .filter-item-forms .collapse-trigger,
.theme-items-list .filter-item-forms .collapse-trigger {
	color: var(--header--color-text, #777777) !important;
}
.theme-items-list .filter-item-forms .collapse-content {
	margin-top: 6px !important;
}
.theme-items-list .filter-item-forms .collapse-trigger .icon {
	margin-right: -5px;
	margin-left: 2px;
}

/* Smaller padding for this elements */
.theme-items-list .search-control .search-control-item.search-control-item--filters-button .button.is-white,
.theme-items-list .search-control .search-control-item.search-control-item--displayed-metadata-dropdown .dropdown-trigger .button.is-white {
	padding-left: 0px !important;
}

/* Filter icon to the right */
.theme-items-list .search-control .search-control-item.search-control-item--filters-button .button.is-white .gray-icon {
	order: 1;
}

/* Using padding variable to space filters list */
.tainacan-modal #filters-modal .modal-content,
.theme-items-list #filters-modal .modal-content {
	padding: 5px 42px 24px 0!important;
}
.theme-items-list #filters-modal .filters-components-list {
	margin-left: -3px;
}

/* Faceted Search Hook to add collection links and page title */
.faceted-search-hook-search-control-before {
	grid-column-start: 2;
	grid-row-start: 1;
	padding-left: 42px;
	grid-row-end: 12;
}

/* The padding is in the page */
.search-control {
	padding-top: 5px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 6px !important;
	display: grid !important;
	grid-template-columns: 235px auto !important;
	grid-template-rows: repeat(auto-fill, 35px) !important;
}

/* Search input should have similar width than filters panel */
.search-control .search-control-item .search-area {
	max-width: 235px !important;
	min-width: 235px !important;
}

/* Only white buttons have a different accent color */
.tainacan-modal .button.is-white,
.theme-items-list .button.is-white {
	--tainacan-input-color: var(--content--color--link, #000000);
}

/* Dropdown arrows are different */
.tainacan-modal .dropdown-trigger .icon .tainacan-icon-arrowdown::before,
.theme-items-list .dropdown-trigger .icon .tainacan-icon-arrowdown::before {
	content: 'showmore';
	margin-top: -3px;
	font-size: 0.75rem;
	color: var(--header--color-text, #777777);
}
.tainacan-modal .control .select:not(.is-loading)::after,
.theme-items-list .control .select:not(.is-loading)::after {
	content: 'showmore' !important;
	margin-top: -6px !important;
	font-size: 0.75em;
	color: var(--header--color-text, #777777);
}
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .dropdown-item:hover,
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .has-link a:hover,
.tainacan-modal .dropdown .dropdown-menu .has-link .dropdown-content a:hover,
.tainacan-modal .autocomplete .dropdown-menu .dropdown-content .dropdown-item:hover,
.tainacan-modal .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:hover,
.dropdown .tainacan-modal .autocomplete .dropdown-menu .dropdown-content .has-link a:hover,
.tainacan-modal .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:hover,
.dropdown .tainacan-modal .autocomplete .dropdown-menu .has-link .dropdown-content a:hover,
.theme-items-list .dropdown .dropdown-menu .dropdown-content .dropdown-item:hover,
.theme-items-list .dropdown .dropdown-menu .dropdown-content .has-link a:hover,
.theme-items-list .dropdown .dropdown-menu .has-link .dropdown-content a:hover,
.theme-items-list .autocomplete .dropdown-menu .dropdown-content .dropdown-item:hover,
.theme-items-list .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:hover,
.dropdown .theme-items-list .autocomplete .dropdown-menu .dropdown-content .has-link a:hover,
.theme-items-list .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:hover,
.dropdown .theme-items-list .autocomplete .dropdown-menu .has-link .dropdown-content a:hover {
	--tainacan-input-border-color: var(--tainacan-input-background-color, #fff);
	--tainacan-primary: var(--tainacan-input-background-color, #fff) !important;
	text-decoration-style: solid;
    --content--color--link: var(--global--color-primary, #2a2a2a) !important;
}

/* Filters label uppercase */
.tainacan-modal #filters-modal .modal-content h3,
.theme-items-list #filters-modal .modal-content h3 {
	text-transform: uppercase;
}

.tainacan-modal #button-clear-all,
.theme-items-list #button-clear-all {
	text-decoration: underline;
}

/* Datepickers for data filters */
.tainacan-modal .datepicker .datepicker-header .pagination,
.theme-items-list .datepicker .datepicker-header .pagination {
	padding-top: 0;
}

/* Search Icons are a bit different */
.tainacan-modal .control.has-icons-right .icon .mdi-magnify::after,
.theme-items-list .control.has-icons-right .icon .mdi-magnify::after {
	background-image: url('../images/icons/ICONES_pesquisar.svg');
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	content: "";
	width: 1.25rem;
	height: 1.25rem;
}
.tainacan-modal .control.has-icons-right .icon .mdi-magnify::before,
.theme-items-list .control.has-icons-right .icon .mdi-magnify::before {
	display: none !important;
}

/* View as icon is an ellipsis */
.tainacan-icon-viewas::after {
	background-image: url('../images/icons/ICONES_ver-como.svg');
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	content: "";
	width: 1.25rem;
	height: 1.25rem;
}
.tainacan-icon-viewas::before {
	display: none !important;
}

/* Search control buttons are lowercase */
.search-control .search-control-item {
	text-transform: lowercase;
}

/* Title on view modes should be bold and lighter */
.tainacan-modal .table-container .table-wrapper table.tainacan-table .column-main-content p,
.theme-items-list .table-container .table-wrapper table.tainacan-table .column-main-content p {
	font-weight: bold;
	--tainacan-input-color: var(--header--color-text, #777777) !important;
	line-height: 1.15 !important;
}
.tainacan-modal .table-container .table-wrapper table.tainacan-table tbody tr td a,
.theme-items-list .table-container .table-wrapper table.tainacan-table tbody tr td a {
	text-decoration: underline !important;
}
.tainacan-masonry-container .tainacan-masonry-item .metadata-title,
.tainacan-cards-container .tainacan-card .metadata-title,
.tainacan-records-container .tainacan-record .metadata-title,
.tainacan-list-container .tainacan-list .metadata-title {
	padding-left: 0 !important;
}
.tainacan-masonry-container .tainacan-masonry-item .metadata-title p,
.tainacan-cards-container .tainacan-card .metadata-title p,
.tainacan-records-container .tainacan-record .metadata-title p,
.tainacan-list-container .tainacan-list .metadata-title p {
	font-weight: bold;
}

/* Masonry items have title bellow */
.tainacan-masonry-container .tainacan-masonry-item:not(.skeleton) {
	display: flex;
	flex-direction: column-reverse;
}

/* Search control has less spacing */
.theme-items-list .search-control[role="region"] {
	justify-content: flex-start !important;
}
.theme-items-list .search-control .search-control-item {
	margin-right: 0px !important;
	margin-bottom: 5px !important;
	grid-column-start: 1;
}
.theme-items-list .search-control .search-control-item--search {
	order: 1;
}

/* Avoids overlapping metadata name */
#tainacanSortByDropdown .dropdown-trigger button.button {
	justify-content: flex-start;
}
#tainacanSortByDropdown .dropdown-trigger button.button>span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: calc(100% - 3rem);
}

/* No need for filters button on desktop */
#tainacanFiltersButton {
	display: none;
	visibility: hidden;
}

/* No need for Full Screen button */
#tainacanFullScreenViewMode:empty {
	display: none;
	visibility: hidden;
}

/* Even this guys have white background */
.tainacan-list-container .tainacan-list,
.tainacan-records-container .tainacan-record {
	background-color: var(--global--color-background, #ffffff) !important;
}

/* Fixes weird relationship image error */
.tainacan-modal .metadata-value .tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-relationship-metadatum-header img,
.theme-items-list .metadata-value .tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-relationship-metadatum-header img {
	max-width: 22px !important;
}

/* Checkobxes have special style */
.theme-items-list .search-control .b-checkbox.checkbox {
	display: flex;
}
.tainacan-modal .tainacan-form input[type="checkbox"]:checked + span + .control-label,
.theme-items-list input[type="checkbox"]:checked + span + .control-label,
.tainacan-modal .tainacan-form input[type="checkbox"]:checked + span + .control-label .checkbox-label-text,
.theme-items-list input[type="checkbox"]:checked + span + .control-label .checkbox-label-text {
	--tainacan-input-color: var(--tainacan-secondary);
	color: var(--tainacan-secondary);
}
.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.theme-items-list .field .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.tainacan-modal .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.theme-items-list .control .b-checkbox.checkbox input[type="checkbox"]:checked + .check {
	background-image: url('../images/icons/ICONES_checkbox.svg') !important;
	background-color: transparent !important;
	background-repeat: no-repeat !important;
	background-size: 16px 16px !important;
	width: 16px;
	height: 16px;
	border: none;
}
.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"] + .check,
.theme-items-list .field .b-checkbox.checkbox input[type="checkbox"] + .check,
.tainacan-modal .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"] + .check,
.theme-items-list .control .b-checkbox.checkbox input[type="checkbox"] + .check {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	margin-top: -1px;
}
.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.theme-items-list .field .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.tainacan-modal .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.theme-items-list .control .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.tainacan-modal .tainacan-form .checkbox-label-text,
.theme-items-list .checkbox-label-text {
	line-height: 1.875em !important;
}
.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check::after,
.theme-items-list .b-checkbox.checkbox input[type="checkbox"]:checked + .check::after {
	display: none;
}
.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check::before,
.theme-items-list .b-checkbox.checkbox input[type="checkbox"]:checked + .check::before {
	display: none;
}
.tainacan-modal .tainacan-form .tainacan-modal-checkbox-list-body .b-checkbox.checkbox {
	font-size: 1rem !important;
}
.tainacan-modal .tainacan-form .tainacan-modal-checkbox-list-body .b-checkbox.checkbox input[type="checkbox"]:checked + .check {
	color: var(--filefestival-color--gray-5, #2a2a2a) !important;
}

/* Filter tags are square */
.theme-items-list .filter-tags-list,
.tainacan-modal .filter-tags-list {
	padding: 1.5em 0 1.0em 0 !important;
}
.theme-items-list .filter-tags-list .filter-tag-metadatum-name,
.tainacan-modal .filter-tags-list .filter-tag-metadatum-name {
	line-height: 1.75;
}
.theme-items-list .tag,
.tainacan-modal .tag,
.theme-items-list .tags,
.tainacan-modal .tags,
.theme-items-list .filter-tag,
.tainacan-modal .filter-tag {
	border-radius: 0 !important;
}

/* Buttons have diffferent color and borders */
.tainacan-modal .button,
.theme-items-list .button,
.tainacan-modal .tainacan-form .field .control .button,
.theme-items-list .tainacan-form .field .control .button {
	border-radius: 0px !important;
}

.tainacan-modal .button.is-outlined,
.theme-items-list .button.is-outlined {
	color: var(--tainacan-secondary) !important;
}

/* Button links should be just like normal a tags */
.tainacan-modal button.link-style:not(.collapse-all),
.tainacan-modal button.link-style:not(.collapse-all):focus
.tainacan-modal button.link-style:not(.collapse-all):active,
.theme-items-list button.link-style:not(.collapse-all),
.theme-items-list button.link-style:not(.collapse-all):focus,
.theme-items-list button.link-style:not(.collapse-all):active,
.theme-items-list .search-control .search-control-item .search-area .is-pulled-right,
.theme-items-list .search-control .search-control-item .search-area .is-pulled-right:focus,
.theme-items-list .search-control .search-control-item .search-area .is-pulled-right:active {
	text-decoration: underline;
}
.tainacan-modal a:hover, .tainacan-modal a:hover:not([href]),
.theme-items-list a:hover, .theme-items-list a:hover:not([href]) {
	text-decoration-thickness: 1px;
	color: var(--content--color--link) !important;
}

/* There is no border in the pagination */
.theme-items-list .pagination {
	border-width: 0px;
}
.theme-items-list .pagination-area {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.theme-items-list .pagination-area .items-per-page .field-label {
	padding-top: 0.465em !important;
}
.theme-items-list .pagination-area .pagination ul li {
    margin: 0.4em 0 0 0.2em;
}
.theme-items-list .pagination-area .pagination ul .pagination-link.is-current {
	color: black !important;
	font-weight: bolder !important;
} 

/* Modal in general */
.tainacan-modal .modal-background {
	background-color: rgba(255, 255, 255, 0.86);
}
.tainacan-modal .animation-content .tainacan-modal-content,
.tainacan-modal .animation-content .modal-card {
	border: 2px solid var(--global--color-border,#ccc);
}

/* Exposers modal */
.tainacan-modal .exposer-types-container .exposer-types-list .exposer-type:hover {
	border: 1px solid var(--tainacan-secondary);
}
.theme-items-list #tainacanExposersButton.search-control-item .button {
	padding-left: 0px !important;
}
.theme-items-list #tainacanExposersButton.search-control-item .button .gray-icon {
	display: none;
	visibility: hidden;
}

/* Dialog and Snackbars */
.tainacan-modal .tainacan-dialog .modal-card,
.theme-items-list .tainacan-dialog .modal-card,
.tainacan-modal .tainacan-form .modal-card,
.theme-items-list .tainacan-form .modal-card {
	border-radius: 0 !important;
}
.tainacan-modal .tainacan-dialog .modal-card .modal-card-title,
.theme-items-list .tainacan-dialog .modal-card .modal-card-title {
	text-transform: uppercase;
}
.tainacan-modal .tainacan-dialog.dialog .modal-card .button.is-success,
.theme-items-list .tainacan-dialog.dialog .modal-card .button.is-success {
	border-radius: 0px !important;
}
.tainacan-modal .tainacan-dialog .modal-card .control-label {
	font-size: 0.875rem;
}
.theme-items-list .metadata-alert {
	margin-top: 5px !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	background-color: var(--global--color-background, #ffffff) !important;
	--tainacan-yellow2: var(--header--color-text, #777777);
	--tainacan-yellow1: var(--global--color-background, #ffffff);
	color: var(--header--color-text, #777777) !important;
	border: 1px solid var(--global--color-border,#ccc) !important;
	border-radius: 0px !important;
}
.theme-items-list .metadata-alert .text {
	margin-left: 12px !important;
}

/* View modes appear animation */
@keyframes appear {
    from {
        opacity: 0.0;
        visibility: hidden;
    }
    to {
        opacity: 1.0;
        visibility: visible;
    }
}


/* Larger desktop screen */
@media screen and (max-width: 1400px) {
	.theme-items-list .search-control .search-control-item {
		margin-right: 40px !important;
	}
}

@media only screen and (max-width: 767px) {
	.theme-items-list:not(.is-fullscreen) .search-control {
		display: flex !important;
		justify-content: center !important;
	}
	.theme-items-list:not(.is-fullscreen) .search-control .search-control-item {
		margin-right: 20px !important;
		margin-left: 20px !important;
	}
	.faceted-search-hook-search-control-before {
		padding-left: 0;
		text-align: center;
	}
	.tainacan-items-list-heading,
	.tainacan-collections-links {
		justify-content: center;
	}
	#tainacanSortByDropdown .dropdown-trigger button.button>span {
		max-width: 100%;
	}
	.tainacan-modal #filters-modal .modal-content,
	.theme-items-list #filters-modal .modal-content {
		padding: var(--tainacan-container-padding) !important;
	}
}