.tainacan-item-single-content {
    display: grid;
    grid-template-areas: 'info1 gallery info2 navigation';
    grid-template-rows: auto;
    grid-template-columns: 1fr 450px 1fr 190px;
    column-gap: 64px;
    row-gap: 24px;
    margin-top: -24px !important;
}
.tainacan-item-single-content.has-attachments {
    grid-template-areas: 'info1 gallery gallery navigation'
                         'info1 info2 info2 navigation';
    grid-template-rows: auto auto;
}
.tainacan-item-single-content.is-participants-collection {
    grid-template-areas: 'info1 info1 info1 info2 info2 navigation';
    grid-template-rows: auto;
    grid-template-columns: 175px 1fr 1fr 1fr 1fr 190px;
}

/* Default information sections */
.tainacan-item-single-content--information {
    grid-area: info1;
    max-width: 100%;
    column-count: 1;
    column-gap: 64px;
}
.tainacan-item-single-content--information>*{
    break-inside: avoid;
    max-width: 100%;
}
.tainacan-item-single-content:not(.is-works-collection):not(.is-participants-collection) .tainacan-item-single-content--information>*:nth-of-type(1n+5) {
    display: none;
    visibility: hidden;
}
.tainacan-item-single-content--information-2 {
    grid-area: info2;
    max-width: 100%;
}
.tainacan-item-single-content--information-2>*{
    break-inside: avoid;
    max-width: 100%;
}
.tainacan-item-single-content:not(.is-works-collection):not(.is-participants-collection) .tainacan-item-single-content--information-2>*:nth-of-type(-1n+4) {
    display: none;
    visibility: hidden;
}

/* Participants Information Section */
.tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information {
    column-count: 3;
    column-gap: 64px;
}
.tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information>*:nth-of-type(1n+11) {
    display: none;
    visibility: hidden;
}
.tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information-2>*:nth-of-type(-1n+10) {
    display: none;
    visibility: hidden;
}

/* Works Information Section */
.tainacan-item-single-content.is-works-collection .tainacan-item-single-content--information {
    column-count: 2;
    column-gap: 64px;
}
.tainacan-item-single-content.is-works-collection .tainacan-item-single-content--information>*:nth-of-type(1n+7) {
    display: none;
    visibility: hidden;
}
.tainacan-item-single-content.is-works-collection .tainacan-item-single-content--information-2>*:nth-of-type(-1n+6) {
    display: none;
    visibility: hidden;
}

/* In every templated, the first section textareas span */
.tainacan-item-single-content--information .metadata-type-core_description,
.tainacan-item-single-content--information .metadata-type-textarea {
    column-span: all;
}


/* If there are attachments, the second section has columns */
.tainacan-item-single-content.has-attachments .tainacan-item-single-content--information-2 {
    column-count: 3;
    column-gap: 64px;
}

/* Gallery Section */
.tainacan-item-single-content--gallery {
    grid-area: gallery;
    max-width: 100%;
    min-height: 364px;
}

/* Tweaks to the media component */
.tainacan-item-single-content.has-attachments .tainacan-item-single-content--gallery .tainacan-media-component {
    --tainacan-media-main-carousel-height: 364px;
    --swiper-theme-color: var(--global--color-primary, #676767);
}
.tainacan-item-single-content .swiper-slide-metadata {
    text-align: start !important;
    padding: 12px 0;
}
.tainacan-media-component__swiper-main .swiper-button-disabled,
.tainacan-media-component__swiper-thumbs .swiper-button-disabled {
    display: none;
}
.tainacan-media-component__swiper-main .swiper-button-next,
.tainacan-media-component__swiper-main .swiper-container-rtl .swiper-button-prev {
    left: auto;
    background: white;
    height: 100%;
    top: 0;
    right: 0;
}
.tainacan-media-component__swiper-main .swiper-button-prev,
.tainacan-media-component__swiper-main .swiper-container-rtl .swiper-button-next {
    right: auto;
    background: white;
    height: 100%;
    top: 0;
    left: 0;
}
.tainacan-item-single-content .tainacan-item-single-content--gallery .tainacan-media-component__swiper-main .swiper-slide-content a:first-of-type,
.tainacan-item-single-content .tainacan-item-single-content--gallery .tainacan-media-component__swiper-main .swiper-slide-content p:first-of-type {
    padding: 0;
}
.tainacan-item-single-content .tainacan-item-single-content--gallery .tainacan-media-component__swiper-main .swiper-slide-content {
    max-width: 330px;
    text-align: start;
}
.tainacan-item-single-content .tainacan-media-component__swiper-main li.swiper-slide {
    width: auto;
    padding: 0;
}
.tainacan-item-single-content .tainacan-media-component__swiper-main li.swiper-slide:only-child {
    margin-right: 0 !important;
    width: 100%;
}
.tainacan-item-single-content .tainacan-media-component__swiper-main li.swiper-slide:only-child .swiper-slide-content {
    max-width: none;
}
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content img,
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content video,
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content audio,
.tainacan-item-single-content.has-attachments .tainacan-media-component__swiper-main .swiper-slide-content iframe {
    width: auto !important;
    min-height: var(--tainacan-media-main-carousel-height, 364px);
    height: var(--tainacan-media-main-carousel-height, 364px);
    object-fit: cover;
    min-width: 220px;
    max-width: 330px !important;
    border-radius: 0;
}
.tainacan-item-thumbnail img {
    margin-bottom: 2rem;
}

/* Tweaks to the item metadata */
.tainacan-item-single-content .tainacan-metadatum-label {
	font-weight: normal;
	font-size: 0.875rem;
    line-height: 1rem;
    color: var(--header--color-text,#8a8a8a);
    margin-bottom: 0.75rem;
}
.tainacan-item-single-content .tainacan-metadatum-value {
	font-weight: normal;
	font-size: 0.9375rem;
    line-height: 1.5rem;
    color: var(--global--color-primary, #676767);
    margin-bottom: 1.5rem;
    display: inline-block;
}
.tainacan-item-single-content .metadata-type-core_title .tainacan-metadatum-value {
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--header--color-text,#8a8a8a);
}

.metadata-value p:empty,
p.tainacan-metadatum-value:empty {
    display: none;
    visibility: hidden;
}

/* Metadata type textarea has different separator */
.multivalue-separator {
    color: #cbcbcb;
    margin: 0 8px;
}
.hierarchy-separator {
    color: #cbcbcb;
}
.metadata-type-compound .multivalue-separator,
.metadata-type-textarea .multivalue-separator {
    display: block;
    max-height: 1px;
    width: 70px;
    background: #cbcbcb;
    content: none;
    color: transparent;
    margin: 0.875rem auto;
}
.tainacan-compound-group {
    padding-left: 1.5rem;
    border-left: 1px solid #dbdbdb;
}
.tainacan-compound-group .label {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 0.75rem;
    font-weight: normal;
}
.tainacan-compound-group p {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-relationship-metadatum-header {
	display: flex;
	align-items: center;
}
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-relationship-metadatum-header img {
	margin-right: 12px;
	max-width: 28px !important;
	max-height: 28px;
}
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-relationship-metadatum-header .label {
	font-weight: normal;
	font-style: normal;
    font-size: 0.875rem;
    line-height: 1.75rem;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	padding: 0;
}
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-metadatum {
	margin-left: 40px;
}
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-metadatum .label {
	font-size: 0.8125em !important;
    font-weight: normal;
	line-height: 1em;
	margin-top: 0px;
	margin-bottom: 6px;
}
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-metadatum p {
	margin-top: 0.25rem;
	margin-bottom: 0.875rem;
    font-size: 0.875rem;
}
.tainacan-relationship-group>.multivalue-separator {
    display: block;
    max-height: 1px;
    width: calc(100% - 40px);
    background: var(--tainacan-gray2);
    content: none;
    color: transparent;
    margin: 0.5em 0 0.5em 40px;
}


/* Navigation Section */
.tainacan-item-single-content--navigation {
    grid-area: navigation;
    max-width: 100%;
}

/* Navigation links */
.tainacan-single-navigation-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.875rem;
}
.tainacan-single-navigation-links a {
    display: flex;
    justify-content: space-between;
    margin: 2px 1.5rem;
}
.tainacan-single-navigation-links svg {
    width: 0.875rem;
    height: auto;
    color: inherit;
}
.tainacan-single-navigation-links--list svg {
    width: 1.5rem;
}
.tainacan-single-navigation-links svg:hover {
    fill: var(--global--color-primary, #2a2a2a);
}

/* Smaller desktop screen */
@media screen and (max-width: 1285px) {
    .tainacan-item-single-content,
    .tainacan-item-single-content.has-attachments {
        display: grid;
        grid-template-areas: 'info1 gallery'
                             'info1 info2 '
                             'navigation navigation';
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .tainacan-item-single-content.is-participants-collection {
        grid-template-areas: 'info1 info1'
                             'info2 info2'
                             'navigation navigation';
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information,
    .tainacan-item-single-content.has-attachments .tainacan-item-single-content--information-2 {
        column-count: 2;
    }
    .tainacan-item-single-content.is-works-collection .tainacan-item-single-content--information {
        column-count: 1;
    }
}

/* Mobile */
@media screen and (max-width: 800px) {
    .tainacan-item-single-content,
    .tainacan-item-single-content.has-attachments {
        display: grid;
        grid-template-areas: 'info1'
                             'gallery'
                             'info2'
                             'navigation';
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
    }
    .tainacan-item-single-content.is-participants-collection {
        grid-template-areas: 'info1'
                             'info2'
                             'navigation';
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
    }
    .tainacan-item-single-content.is-participants-collection .tainacan-item-single-content--information,
    .tainacan-item-single-content.has-attachments .tainacan-item-single-content--information-2,
    .tainacan-item-single-content.is-works-collection .tainacan-item-single-content--information {
        column-count: 1;
    }
}