/* Sets some variables not available on Twentig neither on Tainacan */
:root,
body .editor-styles-wrapper {
    --global--color-border: #cccccc;
    --content--color--link: #676767;
    --global--color-primary: #676767 !important;
    --global--color-secondary: #2a2a2a !important;
    --form--border-color: #cccccc;
    --global--font-size-xxl: 6rem;
    --global--font-size-xl: 1.875rem;
    --heading--font-size-h1: 1.5rem;
    --heading--font-size-h2: 0.875rem;
    --heading--font-size-h3: 0.8125rem;
    --heading--font-size-h4: 0.75rem;
    --heading--font-weight: bold;
    --heading--font-weight-page-title: bold;
    --global--font-size-page-title: 2.1875rem;
    --pagination--font-size: 0.875rem;
    --global--spacing-vertical: 16px;
    --site--padding: 64px;
    --wp--typography--line-height: 1.5rem;
    --font-base: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-headings: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --filefestival-color--white: #ffffff;
    --filefestival-color--gray-1: #cccccc;
    --filefestival-color--gray-2: #777777;
    --filefestival-color--gray-3: #676767;
    --filefestival-color--gray-4: #333333;
    --filefestival-color--gray-5: #2a2a2a;
    --filefestival-color--black: #000000;
    --responsive--aligndefault-width: min(calc(100vw - var(--site--padding)*2),var(--max--aligndefault-width));
    --responsive--alignwide-width: min(calc(100vw - var(--site--padding)*2),var(--max--alignwide-width));
    --max--alignwide-width: 1800px;
    --max--aligndefault-width: 860px;
}

@media screen and (max-width: 822px) {
    :root {
        --site--padding: 32px;
    }
}
@media screen and (min-width: 482px) {
    body .editor-styles-wrapper {
        --responsive--aligndefault-width: min(calc(100vw - var(--site--padding)*2),var(--max--aligndefault-width));
        --responsive--alignwide-width: min(calc(100vw - var(--site--padding)*2),var(--max--alignwide-width));
    }
}

@media screen and (min-width: 722px) {
    .wp-block-column:not(:first-child) {
        margin-left: 4em;
    }
}

body.singular h1,
body.singular h2,
body.singular h3,
body.singular h4,
body.singular h5,
body.singular h6,
body .editor-styles-wrapper h1,
body .editor-styles-wrapper h2,
body .editor-styles-wrapper h3,
body .editor-styles-wrapper h4,
body .editor-styles-wrapper h5,
body .editor-styles-wrapper h6 {
    text-transform: uppercase;
}

.editor-styles-wrapper .wp-block.editor-post-title__block {
    border-bottom: none !important;
}
.editor-styles-wrapper .editor-post-title__input {
    font-weight: bold;
    text-transform: uppercase;
}

/* Custom colors */
.has-white-color {
    color: var(--filefestival-color--white, #ffffff);
}
.has-white-background-color {
    background-color: var(--filefestival-color--white, #ffffff);
}
.has-gray-1-color {
    color: var(--filefestival-color--gray-1, #cccccc);
}
.has-gray-1-background-color {
    background-color: var(--filefestival-color--gray-1, #cccccc);
}
.has-gray-2-color {
    color: var(--filefestival-color--gray-2, #777777);
}
.has-gray-2-background-color {
    background-color: var(--filefestival-color--gray-2, #777777);
}
.has-gray-3-color {
    color: var(--filefestival-color--gray-3, #676767);
}
.has-gray-3-background-color {
    background-color: var(--filefestival-color--gray-3, #676767);
}
.has-gray-4-color {
    color: var(--filefestival-color--gray-4, #333333);
}
.has-gray-4-background-color {
    background-color: var(--filefestival-color--gray-4, #333333);
}
.has-gray-5-color {
    color: var(--filefestival-color--gray-5, #2a2a2a);
}
.has-gray-5-background-color {
    background-color: var(--filefestival-color--gray-5, #2a2a2a);
}
.has-black-color {
    color: var(--filefestival-color--black, #000000);
}
.has-black-background-color {
    background-color: var(--filefestival-color--black, #000000);
}