.tainacan-filefestival-grid-container {
    min-height: 50vh;
    padding: 36px 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-gap: 50px;
    justify-content: flex-start;
    margin-top: 20px;
    border-top: 1px solid var(--global--color-border, #cccccc);
    list-style: none;
    animation-name: appear;
    animation-duration: 0.5s;
}

.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item {
    width: 220px;
    margin: 0px;
    display: block;
    text-decoration: none !important;
}

.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item.skeleton {
    width: 220px;
    height: 380px;
}

.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .filefestival-grid-item-thumbnail {
    width: 220px;
    height: 364px;
    max-height: 364px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin: 0;
    display: block;
    position: relative;
}

.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .filefestival-grid-item-thumbnail .skeleton {
    width: 220px;
    height: 364px;
    position: absolute;
    z-index: -1;
    background-color: #e0e0e0;
    bottom: 0;
}
.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .filefestival-grid-item-thumbnail img {
    width: 220px !important;
    height: 364px !important;
    max-width: 220px !important;
    max-height: 364px !important;
    border-radius: 0px;
    margin-bottom: -5px;
    object-fit: cover;
    object-position: center;
}
.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .filefestival-grid-item-thumbnail:hover {
    background-color: #dbdbdb;
}
.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .metadata-title {
    flex-shrink: 0;
    padding: 0.6rem 0rem;
    text-align: left;
    position: relative;
}
.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .metadata-title h3 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-weight: bold;
    color: var(--header--color-text, #777777);
}
.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .metadata-description p,
.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item a:hover .metadata-description p,
.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .metadata-description p:hover {
    color: var(--header--color-text, #777777);
    font-weight: normal !important;
    text-decoration: none !important;
    font-size: 0.875rem !important;
    line-height: normal;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .metadata-description h3 {
    font-size: 0.875em;
    display: none;
}
.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item a:not(:hover) {
    color: var(--header--color-text, #777777);
    text-decoration: none !important;
}

.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .metadata-title .slideshow-icon {
    border: none;
    background: none;
    box-shadow: none;
    color: var(--tainacan-info-color) !important; 
    position: absolute;
    right: 7px;
    top: 9px;
    transform: scale(0.0);
    transition: transform 0.2s ease;
}
.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .metadata-title:hover .slideshow-icon,
.tainacan-filefestival-grid-container .tainacan-filefestival-grid-item .metadata-title:focus .slideshow-icon {
    transform: scale(1.0);
}


