.tainacan-filefestival-table-container {
    min-height: 50vh;
    width: 100%;
    padding: 0;
    margin-top: 0px;
    animation-name: appear;
    animation-duration: 0.5s;
    overflow-x: auto;
}
.tainacan-filefestival-table-container-table {
    table-layout: auto;
    display: table;
    width: 100%;
}

.tainacan-filefestival-table-container .tainacan-filefestival-table-item {
    width: 100%;
    margin: 0px 0px 24px 0px;
    padding-bottom: 24px;
    text-decoration: none !important;
}
.tainacan-filefestival-table-container .tainacan-filefestival-table-item:not(:last-child) {
    border-bottom: 1px solid var(--global--color-border, #cccccc);
}

.tainacan-filefestival-table-container .tainacan-filefestival-table-item.skeleton {
    width: 100%;
    height: 380px;
}

.tainacan-filefestival-table-item {
    border-top: 1px solid var(--global--color-border, #cccccc);
}

.tainacan-filefestival-table-container th {
    border: none;
    vertical-align: center;
    color: var(--header--color-text, #777777);
    font-size: 0.75rem;
    font-weight: normal;
    text-align: start;
    padding: 0 calc(2.25 * var(--global--spacing-unit)) calc(0.875 * var(--global--spacing-unit)) 0;
}
.tainacan-filefestival-table-item td {
    border: none;
    vertical-align: top;
    text-align: start;
}
.tainacan-filefestival-table-item td:not(:empty) {
    padding: calc(0.875 * var(--global--spacing-unit)) calc(2.25 * var(--global--spacing-unit)) calc(0.875 * var(--global--spacing-unit)) 0;
}

.tainacan-filefestival-table-container .tainacan-filefestival-table-item .metadata-label {
    display: none;
}

.tainacan-filefestival-table-container .multivalue-separator {
    margin: 0 8px;
    display: block;
    height: 3px;
    color: transparent;
}

.tainacan-filefestival-table-container .tainacan-filefestival-table-item .metadata-value {
    color: var(--header--color-text, #777777);
    font-size: 0.875rem;
    display: inline;
}

.tainacan-filefestival-table-container .tainacan-filefestival-table-item .metadata-value .hierarchy-separator {
    white-space: nowrap;
}
.tainacan-filefestival-table-container .tainacan-filefestival-table-item .metadata-type-core_title .metadata-value {
    font-weight: bold;
    font-size: 1.25rem;
}

